---
import { getGithubURL } from "~/utils/urls";
import ByLine from "../ByLine.astro";
import BaseLayout from "./BaseLayout.astro";
import { PartFrontmatter } from "./PartLayout.astro";

export interface ChapterFrontmatter {
    title: string;
    description: string;
    authors?: Record<string, string>[];
    affiliations?: Record<string, string>[];
    published?: boolean;
    lastUpdated?: string;
}

const { frontmatter, url } = Astro.props;
const parentUrl = url.split("/").slice(0, 2).join("/");

let chapterIndex = 1;

const pages = await Astro.glob<PartFrontmatter>("../../pages/**/index.md");
const parts = pages
    .filter((page) => page.url.split("/").length === 2)
    .map((part) => ({
        ...part,
        chapters: pages
            .filter(
                (page) => page.url.startsWith(part.url) && page.url !== part.url
            )
            .map((chapter) => ({
                ...chapter,
                index: chapterIndex++,
            })),
    }));

const part = parts.find((part) => part.url.startsWith(parentUrl));
const thisChapterIndex = part.chapters.find(
    (chapter) => chapter.url === url
).index;

const authors: { name: string; url: string }[] = (
    frontmatter.authors ?? []
).map((author) => ({
    name: Object.keys(author)[0],
    url: Object.values(author)[0],
}));

const affiliations: { name: string; url: string }[] = (
    frontmatter.affiliations ?? []
).map((affiliation) => ({
    name: Object.keys(affiliation)[0],
    url: Object.values(affiliation)[0],
}));
---

<BaseLayout>
    <div class="container">
        <nav class="pb-6">
            <a class="font-bold" href="/">Aligning AI</a> &gt;
            <a href={parentUrl}>{part?.frontmatter?.title}</a>
        </nav>
        <h1 class="text-2xl font-bold">
            {thisChapterIndex}
            {frontmatter.title}
        </h1>
    </div>
    <ByLine
        authors={authors}
        affiliations={affiliations}
        lastUpdated={frontmatter.lastUpdated}
        url={url}
    />
    <div class="container">
        <article class="prose">
            <slot />
        </article>
        <hr class="my-4" />
        <footer>
            <a href={getGithubURL(url)}>Github</a>
        </footer>
    </div>
</BaseLayout>
