---
import { MarkdownInstance, MarkdownHeading } from "astro";
import { ChapterFrontmatter } from "./layouts/ChapterLayout.astro";
import clsx from "clsx";
import { Heading } from "~/utils/toc";

export interface Props {
    url?: string;
    index?: number;
    title?: string;
    chapters?: (MarkdownInstance<ChapterFrontmatter> & {
        index: number;
        headings: MarkdownHeading[];
    })[];
    active?: number;
}

const { url, index, title, chapters, active } = Astro.props as Props;
---

<section class="py-2">
    <a href={url}>
        <h2 class="text-xl font-bold pb-2">
            {!!index && `Part ${index}.`}
            {title}
        </h2>
    </a>
    {
        chapters.map((chapter) => (
            <section
                class={clsx(
                    !chapter.frontmatter?.published &&
                        "opacity-20 cursor-default"
                )}
            >
                <a
                    href={chapter.frontmatter?.published && chapter.url}
                    class={clsx(
                        "block py-1 text-md font-bold",
                        chapter.index === active && "text-blue-500"
                    )}
                >
                    <div class="inline-block w-6">{chapter.index}</div>
                    {chapter.frontmatter.title}
                </a>
                <ul>
                    {chapter.headings.map(({ slug, text, depth }, i) => (
                        <li>
                            <a
                                href={
                                    chapter.frontmatter?.published &&
                                    `${chapter.url}#${slug}`
                                }
                                class={clsx(
                                    "block py-1 text-sm",
                                    chapter.index === active && "text-blue-500"
                                )}
                            >
                                <div class="inline-block w-6" />
                                <div class="inline-block w-8">
                                    {chapter.index}.{i + 1}
                                </div>
                                {text}
                            </a>
                        </li>
                    ))}
                </ul>
            </section>
        ))
    }
</section>
