---
import { CollectionEntry } from "astro:content";

export interface Props {
    slug?: string;
    index?: number;
    title?: string;
    chapters?: CollectionEntry<"chapter">[];
    active?: number;
}

const { slug, index, title, chapters, active } = Astro.props as Props;

const getSlug = (text: string) =>
    text
        .toLowerCase()
        .replace(/[^a-z0-9]+/g, "-")
        .replace(/^-|-$/g, "");
---

<section class="py-2">
    <a href={slug}>
        <h2 class="text-xl font-bold pb-2">
            <!-- {!!index && `Part ${index}.`} -->
            {title}
        </h2>
    </a>
    {
        chapters.map((chapter) => (
            <section
                class:list={
                    !chapter.data?.published && "opacity-20 cursor-default"
                }
            >
                <a
                    href={chapter.data?.published && chapter.slug}
                    class:list={[
                        "block py-1 text-md font-bold",
                        chapter.data.index === active && "text-blue-500",
                    ]}
                >
                    <div class="inline-block w-6">{chapter.data.index}</div>
                    {chapter.data.title}
                </a>
                <ul>
                    {chapter.data.headings.map((text, i) => (
                        <li>
                            <a
                                href={
                                    chapter.data?.published &&
                                    `${chapter.slug}#${getSlug(text)}`
                                }
                                class:list={[
                                    "block py-1 text-sm",
                                    chapter.data.index === active &&
                                        "text-blue-500",
                                ]}
                            >
                                <div class="inline-block w-6" />
                                <div class="inline-block w-8">
                                    {chapter.data.index}.{i + 1}
                                </div>
                                {text}
                            </a>
                        </li>
                    ))}
                </ul>
            </section>
        ))
    }
</section>
